{% extends 'base_clean.html' %}
{% load staticfiles %}

{% block title %}
  login
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block content %}

  <div class="jumbotron">
    <h1>Welcome to LionList!</h1>

    <p>LionList is a website where Columbia University students can buy and 
       sell everything from textbooks, to furniture, to concert tickets 
       amongst themselves.
    </p>

    <p>
      <a href="/account/register/" class="btn btn-primary btn-lg btn-block">
        Sign up
      </a>
    </p>

    <h1>Already signed up?</h1>

    <form id="login-form" action="" method="post" class="form-util">
    {% csrf_token %}

      <div id="uni-div" class="form-group">
        <p id="uni-label" class="error"></p>
        <input id="uni" type="text" class="form-control" placeholder="UNI" 
        name="username">
      </div>

      <div id="password-div" class="form-group">
        <p id="password-label" class="error"></p>
        <input id="password" type="password" class="form-control" 
        placeholder="Password" name="password">
      </div>

      <p class="text">
        <a href="/account/forgot/">Forgot your password?</a>
      </p>

      <button id="submit_btn" type="submit" 
      class="btn btn-lg btn-success btn-block">
        Login 
      </button>

    </form>

  </div>

  <script>
    $( document ).ready(function() {
      login.initModule();
    });
  </script>

{% endblock %}
