{% extends 'base_clean.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
  register
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block content %} 

      <h1 class="centered">register</h1>

      <form id="registration-form" class="thin centered form-util" action="" method="post">
        {% csrf_token %}
        <p class="text">When you submit the following information
        we'll send an activation email to your UNI@columbia.edu 
        <a href="http://lionmail.columbia.edu">lionmail address</a> to confirm 
        that you are a current student/alumnus.</p>

        <!-- ERROR HANDLING -->

        <!-- BUILT IN ERRORS -->
        {% for error in form.username.errors %}
            {% if error != "This field is required." %}
            <p class="error">{{ error }}</p>
            {% endif %}
        {% endfor %}

        <!-- CUSTOM ERRORS -->
        {% for error in form.non_field_errors %}
          <p class="error">{{ error }}</p>    
        {% endfor %}

        <!-- REGISTRATION FORM -->
        <div id="uni-div" class="form-group">
          <p id="uni-label" class="error"></p>
          <input id="uni" type="text" class="form-control" name="username" 
          placeholder="UNI" autofocus>
        </div>

        <div id="password-div" class="form-group">
          <p id="password-label" class="error"></p>
          <input id="password1" type="password" class="form-control" name="password1" 
          placeholder="LionList Password">
          <input id="password2" type="password" class="form-control" name="password2" 
          placeholder="Confirm Password">
        </div>

        <div id="location-div" class="form-group">
          <p id="location-label" class="error"></p>
          {% render_field form.location id+="location" class+="form-control input-lg" %}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Submit
        </button>

      </form>

    <script>
      $( document ).ready(function() {
        registration.initModule();
      });
    </script>

{% endblock %}
