{% extends 'base_clean.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% load i18n %}
{% load url from future %}

{% block title %}
  reset password
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block content %}

    <h1 class="centered">reset password</h2>
   
    <form id="reset-form" class="centered thin form-util" action="{{ url }}" method="post">
      {% csrf_token %}
      <p class="text">Enter and confirm a new password.</p>
        
      <!-- CUSTOM ERRORS -->
      {% for error in form.non_field_errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}

      {% for field in form %}
        {% for error in field.errors %}
          {% if error != "This field is required." %}
            <p class="error">{{ error }}</p>
          {% endif %}
        {% endfor %}
      {% endfor %}

      <!-- PASSWORD RESET FORM -->

        <div id="password-div" class="form-group">
          <p id="password-label" class="error"></p>
          <input id="password1" type="password" class="form-control" name="password1"
          placeholder="New Password">
          <input id="password2" type="password" class="form-control" name="password2"
          placeholder="Confirm New Password">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    <script>
      $( document ).ready(function() {
        reset_password.initModule();
      });
    </script>
{% endblock %}

